a {
  color: #2176ff;
  cursor: pointer;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.nav-link {
  text-decoration: none;
}

.nav-link:hover {
  color: #2176ff;
}

.nav-link.logo:hover {
  text-decoration: underline;
}
